In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/Nvidia_stock_data.csv")

In [3]:
df.head()

         Date     Close      High       Low      Open      Volume
0  1999-01-22  0.037612  0.044775  0.035581  0.040119  2714688000
1  1999-01-25  0.041552  0.042029  0.037612  0.040597   510480000
2  1999-01-26  0.038328  0.042865  0.037731  0.042029   343200000
3  1999-01-27  0.038209  0.039403  0.036298  0.038447   244368000
4  1999-01-28  0.038089  0.038447  0.037850  0.038209   227520000